# Python
__pycache__/
*.pyc

# Django
*.log
db.sqlite3
media/
static/

# macOS
.DS_Store

# Editor and IDE-specific files
.vscode/
.idea/

# Environment and Dependency files
.env
.venv/
venv/

# Compiled Python bytecode
__pycache__/
*.pyc

# Docker
.dockerenv
Dockerfile
docker-compose.yml
.dockerignore
